<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjectEstimationDataLabel">Create or edit a Project Estimation Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!projectEstimationData.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="projectEstimationData.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numberOfUnit">Number Of Unit</label>
            <input type="number" class="form-control" name="numberOfUnit" id="field_numberOfUnit"
                [(ngModel)]="projectEstimationData.numberOfUnit" required/>
            <div [hidden]="!(editForm.controls.numberOfUnit?.dirty && editForm.controls.numberOfUnit?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numberOfUnit?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numberOfUnit?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_unitPrice">Unit Price</label>
            <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                [(ngModel)]="projectEstimationData.unitPrice" required/>
            <div [hidden]="!(editForm.controls.unitPrice?.dirty && editForm.controls.unitPrice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.unitPrice?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.unitPrice?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_totalPrice">Total Price</label>
            <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                [(ngModel)]="projectEstimationData.totalPrice" required/>
            <div [hidden]="!(editForm.controls.totalPrice?.dirty && editForm.controls.totalPrice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.totalPrice?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.totalPrice?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_costCode">Cost Code</label>
            <select class="form-control" id="field_costCode" name="costCode" [(ngModel)]="projectEstimationData.costCodeId"  required>
                <option *ngIf="!editForm.value.costCode" [ngValue]="null" selected></option>
                <option [ngValue]="costCodeOption.id" *ngFor="let costCodeOption of costcodes; trackBy: trackCostCodeById">{{costCodeOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.costCode?.dirty && editForm.controls.costCode?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.costCode?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="projectEstimationData.projectId"  required>
                <option *ngIf="!editForm.value.project" [ngValue]="null" selected></option>
                <option [ngValue]="projectEstimationOption.id" *ngFor="let projectEstimationOption of projectestimations; trackBy: trackProjectEstimationById">{{projectEstimationOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.project?.dirty && editForm.controls.project?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.project?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
