
<div *ngIf="costCode">
    <h2><span>Cost Code</span> {{costCode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Cost Code No</span></dt>
        <dd>
            <span>{{costCode.costCodeNo}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{costCode.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{costCode.description}}</span>
        </dd>
        <dt><span>Cost Type</span></dt>
        <dd>
            <span>{{costCode.costType}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cost-code/'+ costCode.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
